*
   margin: 0
   padding: 0

body
   position: relative
   width: 100%
   font-size: 14px
   font-family: 'Gotham'
   line-height: 1.4
   color: #333

.header
   position: absolute
   top: 10
   width: 100%
   z-index: 100
   background-color: #ffffffe3
   &__inner
      display: flex
      justify-content: center
      padding: 30px 0
.logo
   height: 80px

.nav
   display: flex
   justify-content: space-around
   padding-bottom: 20px
   &__item
      text-transform: uppercase
      &>a
         display: inline-block
         position: relative
         text-decoration: none
         color: inherit
         &:after
            position: absolute
            display: block
            content: ''
            height: 3px
            width: 0%
            left: 50%
            z-index: 10000
            transform: translateX(-50%)
            background-color: #333
            transition: width .2s ease-in-out
         &:hover:after
            width: 100%

.presentation
   position: relative
   height: 100vh
   background: linear-gradient(#0000008c,#0000008c), url('img/painting.jpg') center center/cover no-repeat
   &__heading
      position: absolute
      width: 100%
      top: 200px
      left: 50%
      padding-bottom: 20px
      transform: translateX(-50%)
      font-family: 'Times new roman'
      font-size: 40px
      color: #fff
      text-shadow: 0 0 10px #000
      text-align: center
      text-transform: uppercase
      border-bottom: 3px solid #fff
   &__text
      position: absolute
      bottom: 0
      padding: 20px 0
      z-index: 10000
      text-align: center
      color: #fff
      background-color: #00000077
      opacity: 0
      transition: opacity .8s ease
   &:hover .presentation__text
      opacity: 1